parameters:
    level: 9
    paths:
        - src
        - tests
    excludePaths:
        - tests/Fake
    checkGenericClassInNonGenericObjectType: false
    ignoreErrors:
        - '#Call to an undefined method ReflectionProperty::isReadOnly\(\)#'